.footer__section{
    display: flex;
    justify-content: center;
   
    gap: 2rem;
}

.info_auteure{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

footer h6{
    margin: 1rem 0;
}