.intro__pays {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--couleur-arriere-accueil);
    padding: 0 10rem;
}

.rest_pays {
    position: relative;
    // display: flex;
    // flex-direction: column;
    // align-items: center;

    background-color: var(--couleur-arriere-evenement);
}