:root {

    // --couleur-arriere-entete : #2600ff;
    // --couleur-arriere-accueil: #b6f0ff;
    // --couleur-arriere-galerie: #7ee5ff;
    // --couleur-arriere-evenement: #ade5ff;
    // --couleur-arriere-footer:#258300;
    // --opacite: 0.7;
    // --couleur-h2: #ffae00;

    // --couleur-arriere-entete: hsl(230, 100%, 50%);
    // --couleur-arriere-accueil: hsl(180, 100%, 85%);
    // --couleur-arriere-galerie: hsl(190, 100%, 50%);
    // --couleur-arriere-evenement: hsl(180, 100%, 70%);
    // --couleur-arriere-footer: hsl(140, 100%, 30%);

    --nbr-element: 3;
    // 360/5 = 72
    --increment-angle: calc(360/var(--nbr-element));
    --angle-initial: 180;
    --hu1: var(--angle-initial);
    --hu2: calc(var(--hu1) + var(--increment-angle));
    --hu3: calc(var(--hu2) + var(--increment-angle));
    --hu4: calc(var(--hu3) + var(--increment-angle));
    --hu5: calc(var(--hu4) + var(--increment-angle));

    --s-arriere: 90%;
    --l-arriere: 50%; //je n'utilise pas les variables de saturation car j'aime les cours que j'ai
    --s-couleur: 100%;
    --l-couleur: 25%;


    --couleur-arriere-entete: hsl(var(--hu1), var(--s-arriere), var(--l-arriere));
    --couleur-arriere-accueil: hsl(var(--hu2), var(--s-arriere), var(--l-arriere));
    --couleur-arriere-galerie: hsl(var(--hu3), var(--s-arriere), var(--l-arriere));
    --couleur-arriere-evenement: hsl(var(--hu4), var(--s-arriere), var(--l-arriere));
    --couleur-arriere-footer: hsl(var(--hu5), var(--s-arriere), var(--l-arriere));
    --opacite: 0.7;
    --couleur-h2: #ffae00;

    --couleur-entete: hsl(var(--hu1), var(--s-arriere), var(--l-couleur));
    --couleur-accueil: hsl(var(--hu2), var(--s-arriere), var(--l-couleur));
    --couleur-galerie: hsl(var(--hu3), var(--s-arriere), var(--l-couleur));
    --couleur-evenement: hsl(var(--hu4), var(--s-arriere), var(--l-couleur));
    --couleur-footer: hsl(var(--hu5), var(--s-arriere), var(--l-couleur));

    --couleur-bouton: hsl(var(--hu1), var(--s-arriere), 60% );
    --couleur-bouton-border: hsl(var(--hu1), 90%, 20%);

    --couleur-lien: hsl(var(--hu2), var(--s-arriere), 15%);
    --couleur-lien-hover: hsl(var(--hu2), var(--s-arriere), 80%);
    --couleur-lien-focus: hsl(var(--hu1), var(--s-arriere), 40%);
    --couleur-lien-visited: hsl(var(--hu1), var(--s-arriere), 10%);
   
    #entete{
        --_couleur-arriere-vague: hsl(var(--hu2), var(--s-arriere), 50%);
    }

    #evenement{
        --_couleur-arriere-vague:hsl(var(--hu5), var(--s-arriere), 50%);
    }
}