
:root{
    --couleur-arriere-entete : #2600ff;
    --couleur-arriere-accueil: #b6f0ff;
    --couleur-arriere-galerie: #7ee5ff;
    --couleur-arriere-evenement: #ade5ff;
    --couleur-arriere-footer:#258300;
  
}