
:root{

    // --couleur-arriere-entete : #2600ff;
    // --couleur-arriere-accueil: #b6f0ff;
    // --couleur-arriere-galerie: #7ee5ff;
    // --couleur-arriere-evenement: #ade5ff;
    // --couleur-arriere-footer:#258300;
    // --opacite: 0.7;
    // --couleur-h2: #ffae00;


    --couleur-arriere-entete :hsl(230, 100%, 50%);
    --couleur-arriere-accueil: hsl(180, 100%, 85%);
    --couleur-arriere-galerie: hsl(190, 100%, 50%);
    --couleur-arriere-evenement: hsl(180,100%,70%);
    --couleur-arriere-footer:hsl(140,100%,30%);
    --opacite: 0.7;
    --couleur-h2: #ffae00;
    
    --couleur-entete :hsl(230, 100%, 90%);
    --couleur-accueil: hsl(180, 100%, 15%);
    --couleur-galerie: hsl(190, 100%, 30%);
    --couleur-evenement: hsl(180,100%,20%);
    --couleur-footer:hsl(140,100%,15%);
}