.section__ville {
    display: flex;
    justify-content: center;

    flex-wrap: wrap;
    gap: 1rem;
}

.carte {
    border: 5px solid black;
    display: flex;
    text-align: center;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex: 0 1 calc(800px/3);
    background-color: hsl(var(--hu2), 100%, 80%);
}

.carte *{
    align-items: center;
}

.post-categories{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    align-self: center;
}
