.section__cours{
    display: flex;

}

.carte{
    
    border: 5px solid black;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-around;
    background-color: hsl(var(--hu2), 100%, 75%);
}

@media (min-width: 767px) {

    .section__cours{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
    }
    
    .carte{
        border: 5px solid black;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex: 0 1 25%;
        background-color: hsl(var(--hu2), 100%, 80%);
    }

}