// .section__ville{
//     display: flex;
//     flex-direction:row;
//     gap: 2rem;
// }

// .carte{

//     border: 5px solid black;
//     display: flex;
//     flex: 0 1 1100px/4;
//     flex-direction: column;
//     justify-content: space-around;
//     background-color: hsl(var(--hu2), 100%, 75%);
// }



.section__ville {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.carte {
    border: 5px solid black;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex: 0 1 calc(800px/4);
    background-color: hsl(var(--hu2), 100%, 80%);
}

.carte *{
    align-items: center;
}

.carte .post-categories{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-self: center;
}