/* Sélecteurs textuels de base*/

h1 {
    font-size: clamp(2.5rem, -0.5714rem + 8.2857vw, 3.5rem);

}

h2 {
    font-size: clamp(2rem, -0.5714rem + 6.2857vw, 3rem);
    color: rgba(var(--couleur-h2), var(--opacite));
}

h3 {
    font-size: clamp(1.5rem, -2.3333rem + 6.6667vw, 2.5rem);
}

h4 {
    font-size: clamp(1rem, -2.6667rem + 6.6667vw, 2rem);

}

h5 {
    font-size: clamp(1rem, -9.5rem + 13.125vw, 1.7rem);

}

h6 {
    font-size: clamp(1rem, -7.3125rem + 11.875vw, 1.5rem);

}

a {
    font-size: clamp(1rem, -7.3125rem + 11.875vw, 1rem);
    text-decoration: none;
    color: hsl(var(--hu1), 50%, 20%);
}