a{
    font-size: clamp(1rem, -7.3125rem + 11.875vw, 2rem);
    text-decoration: none;
    color: pink;
}

a:hover, a:focus{
    color: var(--couleur-lien-hover);
}

a:visited{

    color: var(--couleur-lien-visited);

}